#searchBar {
    width:  520px;
    display:block;
    margin:auto; 
}

.submitButtons {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.button {
    display:inline;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 10px 16px;
    margin-left: 10px;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;

}

.button:hover {
    border: 1px solid #757575;
    color: black;
}

#googleLogo {
    display:block;
    margin:auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 10px;
}


a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: arial, sans-serif;
}

a:hover{
    text-decoration: underline;
}

.navbar {
    margin-bottom: 25px;
}

#signIn a {
    color: white;
    background-color: rgb(67, 135, 253);
    padding: 5px 10px;
}

#signIn a:hover{
    text-decoration: none;
}

