#searchBar {
    width:  520px;
    height: 34px;
    display:block;
    margin:auto; 
    border: none;
    -moz-box-shadow:    2px 2px 3px 3px #ccc;
    -webkit-box-shadow: 2px 2px 3px 3px #ccc;
    box-shadow:         2px 2px 3px 3px #ccc;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
}

.submitButtons {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.button {
    display:inline;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    padding: 10px 16px;
    margin-left: 10px;
    font-family: arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: rgb(117,117,117);

}

.button:hover {
    border: 1px solid #757575;
    color: black;
}

#googleLogo {
    display:block;
    margin:auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
    margin-left: 2px;
    margin-right: 2px;
    padding: 2px 5px;
}


a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family: arial, sans-serif;
}

a:hover{
    text-decoration: underline;
}

.navbar {
    margin-top: 25px;
    margin-bottom: 25px;
}

#signIn a {
    color: white;
    background-color: rgb(67, 135, 253);
    padding: 7px 13px;
    border-radius: 2px;
}

#signIn a:hover{
    text-decoration: none;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    font-family: arial, sans-serif;
}

.footer a{
    color:#5f6368;
}